* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary: #242333;
    --alpha: #134E5E;
    --beta: #71B280;
    --gamma: #d4d9d1;
    --white: #f2f2f2;
}

html, body {
    background: var(--primary);
    color: var(--white);
    font-family: 'Lato', sans-serif;
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.movie-container {
    width: 80vw;
    height: 10vh;
    text-align: center;
}

.movie-container label {
    font-size: 16px;
}

.movie-container select {
    width: 200px;
    height: 30px;
    background-color: var(--beta);
    border: none;
    color: var(--white);
    padding: 7px 15px;
    margin: 10px 0;
}



select option {
    background-color: var(--alpha);
    border: none;
    color: var(--white);
    padding: 7px 15px;
}


.showcase {
    list-style: none;
    margin: 20px 0;
    display: flex;
    background-color: rgba(0,0,0,0.1);
    padding: 15px;
    border-radius: 10px;
    justify-content: space-between;
}

.showcase li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

.seat {
    background: var(--gamma);
    height: 20px;
    width: 23px;
    border-radius: 10px 10px 0 0;
    margin: 4px;
}

.seat.selected {
    background-color: var(--beta);
}

.seat.occupied {
    background-color: var(--alpha);
}

.seat:nth-of-type(2) {
    margin-right: 18px;
}

.seat:nth-last-of-type(2) {
    margin-left: 18px;
}

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.container {
    margin: 30px 0;
    perspective: 1000px;
}

.screen {
    width: 280px;
    height: 90px;
    background-color: var(--white);
    margin-bottom: 25px;
    border-radius: 4px;
    transform: rotateX(-45deg);
    box-shadow: 0px 0px 35px 2px var(--white);
}

.row {
    display: flex;
}


.text {
    margin: 25px 0;
}

p.text span {
    color: #6feaf6
}

.footer {
    position: fixed;
    bottom: 10px;
}

.footer a {
    text-decoration: none;
    color: var(--alpha);
    font-weight: bolder;
}